@{
    ViewData["Title"] = "Home Page";
}
@model ProvisionModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form id="ProvisionForm">
        <div>
            <button type="submit" id="Proxmox" name="Proxmox" asp-controller="Proxmox" asp-action="Index" style="margin-bottom: 10px">Proxmox</button>
        </div>
        <div>
            <button type="submit" id="Rancher" name="Rancher" asp-controller="Rancher" asp-action="Index" style="margin-bottom: 10px">Rancher</button>
        </div>

        <div>
            <button type="submit" id="toProvision" name="toProvision" asp-controller="Provision" asp-action="Index" style="margin-bottom: 10px">Provision new Cluster</button>
        </div>
    </form>
</div>
