@{
    ViewData["Title"] = "Rancher Page";
}

<form>
    <div>
        <button type="submit" id="AddRancher" asp-controller="Rancher" asp-action="AddNewRancher" style="margin-bottom: 10px">Add New Rancher</button>
    </div>
    <div>
        <button type="submit" id="editRancher" asp-controller="Rancher" asp-action="EditRancher" style="margin-bottom: 10px">Edit Rancher</button>
    </div>
</form>
